---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: المدونة
  order: 2
---

<h1>المدونة الخاصة ب{{metadata.title}}</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
