---
layout: layouts/home.njk
eleventyNavigation:
  key: الرئيسية
  order: 1
---
<h3>اين تقع {{metadata.title}} ؟</h3>
تقع {{metadata.title}} في مدينة {{metadata.city}}, وتعد من {{metadata.category}} الموجودة بالمنطقة.
<h3>اخر التدوينات</h3>

{% set postslist = collections.posts  %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>للمزيد من المقالات في <a href="{{ '/posts/' | url }}">المدونة</a>.</p>

💞