---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>وسم “{{ tag }}”</h1>
{{metadata.tagsDesc[tag]}}

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>عرض <a href="{{ '/tags/' | url }}">جميع الوسوم </a>.</p>
