<ol reversed class="postlist" 
style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
>
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">
    {% if post.data.title %}
      {{ post.data.title }} 
      {% if post.data.append_title %}
        {{metadata.title}}
      {% endif %}
    {% else %}
      <code>{{ post.url }}</code>
    {% endif %}
    </a>
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">
        {{ post.date | htmlDateString }}
    </time>
    {% for tag in post.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>
